.slider-item {
    height: 70vh;
    transition: opacity 1s ease-in-out;
    background-size: cover;
    background-position: center;
    position: relative;
}

.slick-active .slider-item {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* Keep the overlay subtle */
}

.container {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 2; /* Ensure container is on top of the overlay */
}

.hero-banner {
    width:100%;
    overflow: hidden;
}

.hero-banner-heading {
    font-family: "Amatic SC", cursive;
    font-weight: 400;
    font-size: 4vw;
    line-height: 1.3;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    letter-spacing: 2px; /* Adjust for better spacing */
}

.hero-banner-sub-heading {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.btn-primary {
    background-color: #8BC34A;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .slider-item {
        transition: opacity 1s ease-in-out;
        height: 50vh; /* Adjust slider height for mobile */
    }

    .hero-banner-heading {
        font-size: 7vw;
    }

    .hero-banner-sub-heading {
        font-size: 4vw;
    }

    .btn-primary {
        font-size: 4vw;
        padding: 8px 16px;
    }
}
