.slider-item {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.container h1, .container h2 {
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.btn-primary {
    background-color: #8BC34A;
    border-color: #8BC34A;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 10px;
}
